:root {
    --main-color: #555555;
    --secondary-color: #2c4755;
}

* {
    box-sizing: border-box;
}

:root {
    --clr-light: white;
    --clr-dark: #000000;
    --clr-primary: black;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    --myColor: white;
    --ff-title: "Playfair Display", serif --ff-body: "Assistant", sans-serif
}

.darkmode {
    --clr-light: white;
    --clr-dark: #121212;
    --clr-primary: #f6f4ff;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    transition-duration: .4s;
    font-family: "Chakra Petch", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}


body.active {
    /* width: 100vw; */
    /* position: fixed !important; */
    /* overflow-y: scroll !important; */
}

::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 8px;
    height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: var(--background); */
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

/* End Golobal declarations */
/* Start Components */
i {
    font-size: 23px;
}

.special-heading {
    text-align: center;
}

.special-heading p {
    color: var(--foreground);
    opacity: .5;
    margin-bottom: 0;
    top: 0;
}

.special-heading h2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
}

.special-heading:hover {
    cursor: default;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rot {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    opacity: .2;
    width: 200px;
    top: 100px;
    z-index: 0;
}

body.darkmode .rot {
    filter: invert(1);
}

.rot--normal {
    left: -100px;
}

.rot--reverse {
    animation-direction: reverse;
    right: -100px;
}

.rot--reverse2 {
    animation-duration: 4s;
    right: -60px;
    top: 295px;
    width: 90px;
}

.returntop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 25px;
    z-index: 30;
    opacity: .6;
    filter: invert(1);
}

.returntop img {
    max-width: 100%;
}

#darkmode {
    position: fixed;
    bottom: 30px;
    left: 30px;
    opacity: .7;
    z-index: 20;
}

#darkmode i {
    font-size: 30px;
}

/* End Components */
/* Header section */
.header {
    padding: 30px;
    transition: .5s;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header.active {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: -webkit-linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.322) 90%);
    z-index: 10;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
}

.header.active.red {
    background-image: -webkit-linear-gradient(90deg, transparent 10%, rgba(17, 93, 17, 0.308) 80%);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: -2px;
}

.header .logo:hover {
    cursor: default;
}

.header .logo span {
    font-weight: 600;
    letter-spacing: 0;
}

nav {
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    z-index: 10;

}

nav li a {
    position: relative;
    display: block;
    color: var(--foreground);
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
}

nav li a:hover {
    color: #555555;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--foreground);
    ;
    bottom: -8px;
    left: 0;
    transition-duration: 0.3s;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
}

nav li a:hover::after {
    width: 100%;
}

nav .hamburger {
    width: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: .7s;
}

nav .hamburger:hover {
    cursor: pointer;
}

nav .hamburger span {
    background-color: var(--foreground);
    width: 100%;
    height: 1.5px;
    margin-bottom: 5px;
}

nav .hamburger.active {
    transform: translateY(-7px);
}

nav .hamburger span {
    transition: .5s;
}


nav .hamburger.active span:nth-of-type(1) {
    transform: rotate(140deg) translate(10px, -15px);
}

nav .hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

nav .hamburger.active span:nth-of-type(3) {
    transform: rotate(-140deg) translate(-3px, 0px);
    transition: 1s;
}

.overlay {
    width: 100%;
    background-image: -webkit-linear-gradient(310deg, transparent 90%, rgba(0, 0, 0, 0.364) 80%);
    background-color: transparent;
    filter: blur(2px);
    height: 100vh;
    opacity: .4;
    top: 70px;
    position: fixed;
    display: none;
    backdrop-filter: blur(5px);
    z-index: 9;
}

.overlay.active {
    display: block;
}

nav .links p {
    display: none;
}

#darkmode {
    display: none;
}

@media (max-width: 991px) {
    nav ul a {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .header .logo {
        font-size: 27px;
    }

    nav .links {
        background-color: var(--foreground);
        width: 85%;
        height: calc(100vh - 50px);
        transform: scaleY(0);
        transform-origin: 0 100%;
        position: absolute;
        left: 0;
        top: 70px;
        transition: .3s ease-in-out;
        bottom: 0;
        border-radius: 0 20px 0 0;
        overflow: hidden;
    }

    nav .links.active {
        transform: scaleY(1);
        overflow: hidden;

    }

    nav .links p {
        display: block;
        color: var(--background);
        padding: 0 20px;
        margin-bottom: 20px;
        opacity: 0;
        transition: .5s;
    }

    nav .links.active p {
        opacity: 1;
    }

    nav ul {
        position: absolute;
        flex-direction: column;
        padding: 0;
        text-align: left;
        justify-content: center;
        align-content: center;
        height: 75%;
        opacity: 1;
        width: 90%;
        z-index: 40;
    }

    nav .links.active ul i {
        display: block;
        color: var(--background);
        margin: 20px 10px;
        font-size: 45px;
    }

    nav li a {
        width: 100%;
        font-size: 50px;
        font-weight: 300;
        margin: 0;
        padding: 10px 0px 20px 15px;
        color: var(--background);
        border-radius: 20px;
        opacity: 0;
        transform: translateY(200px);
        transition: opacity .5s .3s ease-in, transform .3s .2s linear, padding-left .2s ease-in-out;
    }

    nav .links.active a {
        opacity: 1;
        transform: translateY(0px);
    }


    nav ul li:hover a {
        padding-left: 40px;
    }

    nav li a::after {
        width: 100%;
        background-color: var(--background);
        height: 1.5px;
        opacity: .3;
        bottom: 5px;
        left: 10px;
        transform: scaleX(0);
    }

    nav .links.active li a::after {
        transform: scaleX(1);
        transition: .5s .5s;
    }

    nav .hamburger {
        display: flex;
    }

    nav .hamburger:hover span:nth-child(2) {
        width: 100%;
    }

    #darkmode {
        left: 20px;
        bottom: 15%;
    }

    #darkmode i {
        color: var(--background);
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    nav ul a {
        font-size: 41px;
    }

    #darkmode {
        bottom: 25%;
    }

    #darkmode i {
        color: var(--background);
        font-size: 35px;
    }
}

/* End Header Section */
.parallax {
    /* overflow: hidden; */
    position: relative;
    min-height: 85vh;
    display: grid;
    grid-template-areas: "stack";
    contain: paint;
}


body.darkmode .about {
    background-color: var(--background);
}

.parallax>* {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

.parallax>img {
    width: 100%;
}

.parallax .content {
    --parallax-speed: 10;
    z-index: 9;
}

.parallax .dust {
    --parallax-speed: 5;
    z-index: 8;
    position: absolute;
    filter: grayscale(1) blur(0px);
    bottom: -500px;
}

@media (max-width:500px) {
    .parallax {
        min-height: 75vh;
    }

    .parallax .dust {
        bottom: 40px;
    }
}

.parallax__foreground-front,
.parallax__foreground-back {
    z-index: 10;
    align-self: end;
    filter: grayscale(1);
    position: absolute;
    pointer-events: none;
}

.parallax__foreground-back {
    transform: scaleY(1.2);
    transform-origin: bottom;
    mix-blend-mode: hard-light;
}

@keyframes parallax {
    to {
        transform:
            translateY(calc(var(--parallax-speed) * 200px));
    }
}

/* Start intro section */
.parallax {
    margin-top: 5px;
}

.parallax .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 40px;
    margin-left: -10px;
}

.parallax .content>* {
    flex-basis: 10% 70%;
    flex-shrink: 1;
}

.parallax .profile {
    display: flex;
    flex-basis: 13%;
    align-items: center;
    flex-grow: 0.13;
    margin-top: 20px;
}

.parallax .profile img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 6px;
}

body.darkmode .parallax .profile img {
    box-shadow: #f0f0ee55 -5px 3px 27px 2px;
}

.parallax .me {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

.parallax .me p {
    color: var(--foreground);
    opacity: .8;
    font-weight: 600;

}

.parallax .me .hello {
    margin-top: 0;
    margin-bottom: 5px;
    opacity: .6;
}

.parallax .me .myname {
    font-size: 65px;
    min-width: 400px;
    margin: 0px;
}

.parallax .me h2 {
    margin: 5px;
    color: #777;
    font-weight: 700;
}

.parallax .me h2 span {
    color: var(--foreground);
    opacity: .6;
    font-size: 30px;

}

@media (max-width: 991px) {
    .parallax .content {
        flex-direction: column;
        margin-top: -20px;
        flex-grow: 0.5;

    }

    .parallax .profile img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) -5px 3px 27px 3px;
    }

    body.darkmode .parallax .profile img {
        box-shadow: #f0f0ee55 -5px 3px 27px 2px;
    }

    .parallax .social {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .parallax .me .myname {
        font-size: 50px;
    }

    .parallax .me .job {
        font-size: 22px;
    }

}

@media (max-width: 480px) {
    .parallax .me .myname {
        font-size: 42px;
    }

    .parallax .profile {
        /* height: 70%; */
    }

    .parallax .profile img {
        /* max-width: 100%; */
        /* height: 100%; */
    }

    .parallax .social {
        margin-top: 0;
    }
}

.parallax .info {
    display: flex;
    justify-content: center;
    column-gap: 15px;

}

.parallax .info button {
    font-size: 14px;
    padding: 15px;
    border-radius: 40px;
    font-weight: bold;
}

.parallax .info .bt1 {
    background-color: transparent;
    color: var(--foreground);
    border: 2px solid var(--foreground);
    transition-duration: .3s;
}

.parallax .info .bt2 {
    background-color: var(--foreground);
    color: var(--background);
    border: 2px solid var(--foreground);
    position: relative;
    transition-duration: .3s;
}

.parallax .info .bt2::before,
.parallax .info .bt2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 40px;
    z-index: -1;
    background-color: var(--foreground);
    opacity: .8;
}

.parallax .info .bt2::before {
    animation: pulse 2.5s ease-out infinite;
}

.parallax .info .bt2::after {
    background-color: #055313;
    opacity: .8;
    animation: pulse 2.5s 1s ease-out infinite;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform: scale(1.2, 1.5);
    }
}

.parallax .info .bt1:hover {
    background-color: var(--foreground);
    color: var(--background);
    cursor: pointer;
}

.parallax .info .bt2:hover {
    background-color: var(--background);
    color: var(--foreground);
    border: 2px solid var(--foreground);
    cursor: pointer;

}

.parallax .social {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.parallax .social img {
    width: 28px;
    transition: 0.3s;
}

body.darkmode .parallax .social img {
    filter: invert(1);
}

.parallax i {
    font-size: 27px;
    color: var(--foreground);
    transition: .3s;
}

.parallax .social img:hover {
    opacity: .6;
    transform: translateY(-5px) scale(1.1);
}

.parallax i:hover {
    color: #055313;
    transform: translateY(-5px) scale(1.1);
}

/* end intro section */
/* Start About Me section */
.about {
    padding: 30px 20px 10px;
    width: 100%;
    transition: .7s ease-in-out;
    overflow: hidden;
    position: relative;
    margin-top: -3px;
    background-color: rgb(3, 3, 3);
    /* transform: scaleY(.3); */
    transform-origin: top;
    height: 20vh;
}

#particles-js {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
}

.about.active {
    /* transform: scaleY(1); */
    height: 90vh;
}

.about .special-heading p, .about .special-heading {
    color: white;
}

.about .container {
    /* padding: 0; */
    transition: .5s;
}

.about.active .container {
    /* width: 100%; */
    transition: .5s;
}

.about .content {
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    transition: .7s ease-in-out;
    z-index: 5;
}

.about .content>* {
    flex-grow: 1;
    flex-shrink: 1;
}

.aboutlay {
    position: absolute;
    width: 80%;
    right: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    /* background: linear-gradient(90deg, rgba(253, 253, 255, 0) 4%, rgba(6, 6, 6, 0.7944445356267507) 20%, rgba(5, 5, 5, 0.900887112657563) 29%, rgba(14, 14, 14, 1) 34%); */
    /* background: linear-gradient(90deg, rgba(253,253,255,0) 40%, rgba(255,255,255,0.7944445356267507) 63%, rgba(255,255,255,0.900887112657563) 80%, rgba(255,255,255,1) 89%); */

}

.about.active .aboutlay {
    width: 100%;
}

.about .profile {
    overflow: hidden;
    width: 700px;
    height: 500px;
    background-image: url(../imgs/blackandwhite.jpg);
    background-size: 400px;
    background-position: -50px;
    background-position-y: -27px;
    z-index: -11;
}

.about .history {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5%;
    z-index: 1;

}

.about .section {
    opacity: 0;
    color: white;
    transition: .5s;
    transition: transform 1s .5s ease-in-out opacity 2s .5s ease-in-out;
    transform: translateY(3000px);
}

.about.active .section {
    transition: transform 1s .5s ease-in-out opacity 2s .5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}


.about .section h3 {
    font-weight: 500;
    font-size: 36px;
    margin: 10px 0;
}

.about .section p {
    margin: 5px 0;
    opacity: .8;
}

.about .section h4 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    opacity: .9;
}

.about .col img {
    width: 60px;
    transition: .3s;
    margin-bottom: 5px;
}

.about .section .descript p {
    color: var(--background);
    opacity: .7;
    font-size: 14px;
    margin-top: 0;
    line-height: 1.5;
    text-align: left;
    max-width: 75ch;
}

@media (min-width: 992px) {
    .about .profile {
        flex-basis: 200%;
    }

    .about.active .aboutlay {
        width: 110%;
    }
}

@media (min-width: 1200px) {
    .about .history {
        /* margin-left: -400px; */
    }

    .about.active .aboutlay {
        width: 105%;
    }
}

@media (max-width: 991px) {
    .about .content>* {
        flex-basis: 0%;
    }

    .about .history {
        margin: 10px;
        /* margin-left: -100px; */
    }
}

@media (max-width: 600px) {
    .about .container {
        width: 100%;
    }

    .about .content {
        margin-top: -35px;
    }

    .about .profile {
        background-position: -320px;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
    }

    .aboutlay {
        position: absolute;
        right: 0;
        background: linear-gradient(90deg, rgba(253, 253, 255, 0) 4%, rgba(6, 6, 6, 0.7944445356267507) 20%, rgba(5, 5, 5, 0.900887112657563) 29%, rgba(14, 14, 14, 1) 34%);
        /* background: transparent; */
    }

    .about.active .aboutlay {
        width: 110%;
    }


    .about .section {
        margin: -2px 0;
    }

    .about .section h3 {
        font-size: 26px;
        margin: 10px 0;
    }

    .about .section .descript p {
        font-size: 12px;
    }

    .about .section h4 {
        font-size: 16px;
    }
}

/* End About Me section */
/* Start skills section */
.skills {
    padding: 60px 20px;
    position: relative;
}

.skills .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skills .content>* {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills .type {
    padding: 20px;
    border: 2px solid var(--foreground);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: .3s;
    align-self: normal;
}

.skills .type>* {
    flex-shrink: 1;
}

.skills .type:hover {
    opacity: 1;
}

.skills .title {
    height: 100%;
    flex-basis: 20%;
}

.skills .type .title h3 {
    font-size: 27px;
    /* color: #555555; */
    font-weight: 800;
    transition: .3s;
}

.skills .info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 80%;
}

.skills .sk {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0 30px;
    max-height: 40px;
    width: 100%;
    opacity: .6;
    transition-duration: .5s;
}

.skills .sk i {
    color: var(--myColor);
}

.skills .sk .text {
    text-align: left;
}

.skills .sk .text p {
    font-size: 19px;
    font-weight: bold;
    margin: 3px;

}

.skills .sk .text .level p {
    font-size: 15px;
    font-weight: 400;

}

.skills .sk .icon {
    height: 100%;
}

.skills .sk i {
    font-size: 30px;
    transition: .3s;
}

.skills .sk.active {
    opacity: 1;
    transform: scale(1.1);
}

.skills .sk.active i {
    color: green;
    opacity: .8;
}

body.darkmode .skills .sk.active i {
    color: rgb(61, 228, 70);
}

@media (max-width : 991px) {
    .skills .title h3 {
        font-size: 25px;
    }

    .skills .sk .text .main {
        font-size: 17px;
    }
}

@media (max-width : 767px) {
    .skills .sk {
        margin: 0 20px;
    }

    .skills .sk .text .main {
        font-size: 16px;
    }
}

@media (max-width : 480px) {
    .skills .title h3 {
        font-size: 25px;
    }
}

/* End skills section */
/* Start Projects section */
.projects {
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}

.projects .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projects .content>* {
    flex-basis: 40%;
    flex-shrink: 1;
    flex-grow: .3;

}

.projects .bord {
    border: 2px solid var(--foreground);
    border-radius: 15px;
    background-color: var(--background);
    padding: 10px;
    margin: 0;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    align-self: normal;
    box-shadow: rgba(255, 255, 255, 0.116) 0px 0 20px 4px;
    min-width: 300px;
    opacity: .7;
    transition: .5s;
    transform: skewX(-3deg);
}

.projects .content .bord:nth-of-type(3) {
    flex-grow: .2;
    margin-top: -110px;
}

.projects .bord:hover {
    transform: scale(1.12) translateY(-10px);
    box-shadow: rgba(255, 255, 255, 0.34) 0px 0 20px 0px;
    z-index: 5;
    opacity: 1;

}

.projects .proj {
    margin: 0;
    text-align: center;
    padding: 20px 10px 40px;
    border-radius: 10px;
    background-color: var(--foreground);
    color: var(--background);
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transform: rotateY(180deg);
    transition: .5s;
}

.projects .bord:hover .proj {
    transform: rotateY(0deg);
}

.projects.active {
    background-color: black;
}

.projects .content .projimg img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: .5s;
    box-shadow: #f0f0ee55 0px 0 15px 8px;
}

body.darkmode .projects .projimg img {
    box-shadow: rgba(0, 0, 0, .3) 0 0 20px 2px;
}

.projects .proj:hover img {
    transform: translateY(-10px);
}

.projects .proj p {
    font-size: 40px;
    font-weight: 700;
}

.projects .links {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: auto;
    width: 100%;
}

.projects .links>* {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

.projects .links a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.projects .links button {
    font-size: 14px;
    padding: 15px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    background-color: var(--background);
    color: var(--foreground);
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    width: 90%;
}



.projects .links button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width : 767px) {
    .projects .content .bord:nth-of-type(2) {
        margin-top: -110px;
    }
}

@media (max-width : 480px) {
    .projects .content .bord {
        flex-grow: .8;
    }

    .projects .bord.active {
        transform: scale(1.12) translateY(-10px);
        box-shadow: rgba(255, 255, 255, 0.34) 0px 0 20px 0px;
        z-index: 5;
        opacity: 1;

    }

    .projects .bord.active .proj {
        transform: rotateY(0deg);
    }
}

/* End Projects section */
/* Start Contact section */
.contact {
    padding: 60px 20px 0px;
}

.contact .content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 2px solid #a3a3a3;
    border-radius: 20px;
    padding: 20px 0;
    width: 70%;
}

.contact .links .link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0;
}


.contact .link a {
    text-decoration: none;
    display: block;
    color: var(--foreground);
    padding-top: 5px;
    margin-left: 5px;
}

.contact .links img {
    width: 40px;
    transition: .3s;
}

.contact .link img:hover {
    opacity: .6;
}

@media (max-width : 991px) {
    .contact .links {
        flex-wrap: wrap;
        width: 70%;
    }

    .contact .links img {
        width: 30px;
    }

    .contact .link a {
        font-size: 12px;
    }
}

@media (max-width : 767px) {
    .contact .links {
        width: 100%;
    }

    .contact .links .link {
        column-gap: 5px;
    }

    .contact .links img {
        width: 25px;
    }
}

@media (max-width : 480px) {
    .contact .links {
        flex-direction: column;
        row-gap: 10px;
    }

    .contact .links>* {
        flex-basis: 50%;
    }
}

/* End Contact section */
/* Start Footer section */
.footer {
    padding: 60px 0 30px;
}

.footer .links {
    position: relative;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    column-gap: 25px;
}

.footer li a {
    position: relative;
    display: block;
    color: var(--foreground);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;

}

.footer li a:hover {
    color: var(--foreground);
    opacity: .8;
}

.footer li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--foreground);
    bottom: -8px;
    left: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.footer li a:hover::after {
    width: 100%;
}

.footer p {
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
    opacity: .7;
}

@media (max-width : 767px) {
    .footer p {
        font-size: 9px;
    }
}

/* End Footer section*/

/* css slider */
.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
    z-index: 0;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(18, 18, 18, .95) 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 550px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 7px;
}

.slider .list .item .content h2 {
    font-size: 85px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p,
.slider .list .item.active h2,
.slider .list .item.active {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .6s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: -20px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 240px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

.slider .links a {
    text-decoration: none;
    display: flex;
}

.slider .links button {
    font-size: 14px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    background-color: var(--foreground);
    color: var(--background);
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    width: 30%;
}

.slider .links button:hover {
    background-color: #121212;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }

    .slider .links button {
        width: 40%;
    }
}